server:
  port: 8080
spring:
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
       model: my-doctor:0.1
  datasource:
    url: jdbc:mysql://192.168.10.120:3306/health_system?useUnicode=true&characterEncoding=utf8
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: assign_id
      update-strategy: not_empty
